.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.card:hover {
  box-shadow: 0 0 10px #ccc;
}

.details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.details h2 {
  margin-top: 0;
}

